:root{
    --gradient: linear-gradient(90deg, #d25ff2, #c394f5);
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: #c394f5;
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.5rem;
}

html::-webkit-scrollbar-track{
    background: #333;
}

html::-webkit-scrollbar-thumb{
    background: linear-gradient(#e648f1, #c394f5);
}

section{
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 6rem;
}

.btn{
    padding: .7rem 3rem;
    font-size: 2rem;
    color: #fff;
    background: var(--gradient);
    border-radius: 60%;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top: -1rem;
    left: -100%;
    background: #fff9;
    height: 150%;
    width: 20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before{
    transition: .3s linear;
    left: 120%;
}

body{
    min-height: 100vh;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1.5rem 7%;
    background: var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

header .logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

header .navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

header .navbar ul li{
    margin: 0 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color: #333;
}

header #login{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

header #login:hover{
    color: #444;
}

header #menu{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.login-form{
    height: 100%;
    width: 100%;
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form.popup{
    top: 0;
}

.login-form form{
    width: 35rem;
    background: #fff;
    padding: 1rem 3rem;
    border-radius: .5rem;
    box-shadow: 0 .1rem .3rem #333;
    position: relative;
}

.login-form form h3{
    font-size: 3rem;
    color: #7e6fed;
    padding: 1rem 0;
}

.login-form form .box{
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: .2rem solid #666;
    font-size: 1.6rem;
    text-transform: none;
    color: #f816d2;
}

.login-form form .box:focus{
    border-color: #f03fa9;
}

.login-form form p{
    font-size: 1.4rem;
    color: #666;
    padding: .5rem 0;
}

.login-form form p a{
    color: #f816d2;
}

.login-form form .btn{
    width: 100%;
    margin: 2rem 0;
}

.login-form form .fa-times{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #999;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.text-container{
    background-color: rgba(252, 251, 252, 0.447);
    padding: 20px;
    border-radius: 30px;
}

.home h1{
    font-size: 6rem;
    color: #93067e;
    -webkit-text-stroke: 1px rgb(56, 2, 36);
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

.home h3{
    font-size: 3rem;
    color: #7125e3;
    -webkit-text-stroke: 1px rgb(80, 6, 59);
}

.home p{
    font-size: 2rem;
    color: #620ca8;
    padding: 1rem 0;
    width: 70rem;
    -webkit-text-stroke: .5px rgb(32, 1, 23);
}

section .logohome img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    animation: flipAnimation 3s linear infinite alternate;
}

@keyframes flipAnimation{
    0%{ transform: rotateY(0deg); }
    100%{ transform: rotateY(180deg); }
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #dac0f6;
}

.about .image img{
    width: 400px;
    border: 2px solid rgba(0,0,0,0.2);
    animation: imageAnimation 1s ease infinite alternate;
}

.about .content h3{
    font-size: 5rem;
    color: rgb(55, 4, 100);
    animation: contentAnimation 1s ease-in-out infinite alternate;
}

.about .content p{
    font-size: 2.5rem;
    color: rgb(166, 6, 161);
    padding: 1rem 0;
}

@keyframes imageAnimation{
    0%{ transform: scale(1); }
    100%{ transform: scale(1.1); }
}

@keyframes contentAnimation{
    0%{ transform: translateY(0); }
    100%{ transform: translateY(-10px); }
}

.course{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.course .content h1{
    font-size: 2.5rem;
    color: rgb(36, 2, 66);
}

.course .content .text{
    font-size: 1.5rem;
    color: rgb(55, 4, 100);
}

.course .content .text img{
    width: 200px;
    height: 200px;
    border: 2px solid rgba(0,0,0,0.2);
    animation: fadeInOut 2s linear infinite;
}

@keyframes fadeInOut{
    0%{ opacity: 0; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #43023a;
}

.teacher{
    background-color: #c394f5a1;
    text-align: center;
}

.teacher p{
    font-size: 1.5rem;
    color: #56024b;
}

.teacher img{
    max-width: 30%;
    animation: moveLeftToRight 5s linear infinite;
}

@keyframes moveLeftToRight{
    0%{ transform: translateX(0); }
    100%{ transform: translateX(100%); }
}

.footer{
    background-color: #999;
}

.footer h1{
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    padding: 2rem 1rem;
    animation: slideUp 2s linear infinite;
}

@keyframes slideUp{
    0%{ transform: translateY(100%); opacity: 0; }
    100%{ transform: translateY(0); opacity: 1; }
}

/* MEDIA QUERIES */
@media (max-width: 768px){

    html{ font-size: 55%; }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top: -120%;
        width: 100%;
        background: #444;
    }

    header .navbar ul{
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li{
        margin: 1.5rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }

    header .navbar.nav-toggle{
        top: 9rem;
    }

    .home h1{ font-size: 4rem; }
    .home p, .home h3{ width: auto; }
}

@media (max-width: 500px){
    html{ font-size: 50%; }
}
