
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: 3px;
  border-color: black;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgba(227, 28, 128, 0.912);
}
.container{
  display: flex;
  width: 1500px;
  margin: auto;
}
nav{
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  height: 110vh;
  background: #19c5ec9d;
}
.navbar{
  width: 80%;
  margin: 0 auto;
}

.logo{
  margin: 2rem 0 1rem 0;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.logo img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation: flipLogo 10s infinite;
}
@keyframes flipLogo {
    0% {
      transform: rotateY(0deg); 
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg); 
    }
  }
.logo h1{
    margin-top: 0.5rem;
  text-transform: uppercase;
}

ul{
  margin: 0 auto;
}
li{
  padding-bottom: 2rem;
}
li a{
  font-size: 16px;
  color: rgba(13, 12, 14, 0.855);
}

nav i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}

.logout {
    position: absolute;
    bottom: 185px; 
    left: 20px; 
   
   
}

/* Main Section */

.dashboard-image {
    width: 80%; 
    height: auto; 
    max-height: 300px; 
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1; 
    }
  }
.main{
  width: 100%;
}
.main-top{
  width: 100%;
  background: #eb95e1b1;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(43, 43, 43);
}
.main-body{
  padding: 10px 10px 10px 20px;
}
h1{
  margin: 20px 10px;
}
.search_bar{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  
  
}
.search_bar input{
  width: 50%;
  padding: 10px;
  border: 1px solid rgb(8, 6, 6);
}
.search_bar input:focus{
  border: 1px solid rgb(10, 7, 12);
}
.search_bar select{
  border: 1px solid rgb(14, 9, 9);
  padding: 10px;
  margin-left: 2rem;
}
.search_bar .filter{
  width: 300px;
}


.row{
  display: flex;
  padding: 10px;
  margin-top: 1.3rem;
  justify-content: space-between;
}
.row p{
  color: rgb(37, 1, 37);
  font-size: 15px;
}
.row p span{
  color: rgb(66, 33, 233);
}
.contents{
  width: 100%;
  padding: 15px;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 15px;
  justify-content: space-between;
  border: 2px solid rgb(190, 190, 190);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
.contents_details{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.contents_details .img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents_details .img i{
  width: 70px;
  font-size: 3rem;
  margin-left: 1rem;
  padding: 10px;
  color: rgb(82, 22, 138);
  background: rgb(216, 205, 226);
}
.contents_details .text{
  margin-left: 2.3rem;
}
.contents_details .text span{
  color: rgb(116, 112, 112);
}
.job_salary{
  text-align: right;
  color: rgb(54, 54, 54);
}
.job_card:active{
  border: 2px solid blueviolet;
  transition: 0.4s;
}

::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #1c97e4, #23dcd8); 
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #0e8cf3, #64fbbc); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #555, #333);
  }
 
.explore-btn {
    margin-left: 60rem; 
    background-color: #5d6bebce; 
    color: #ffffff; 
    border: none;
    padding: 4px 18px;
    border-radius: 15px;
    cursor: pointer;

  }
  
  
